<div class="button">
	<nav>
	<li id="dev_icon"><a href="/{{ page.lang }}/dev/">{% if page.lang == "en" %}Dev blog {% endif %}{% if page.lang == "pt-BR" %}Blog de dev {% endif %}&nbsp;&nbsp;<img src="/assets/images/icon_dev.png" alt="dev icon" align="center"></a></li>
	<li id="dev_icon"><a href="/{{ page.lang }}/blog/">{% if page.lang == "en" %}Personal blog {% endif %}{% if page.lang == "pt-BR" %}Blog pessoal {% endif %}&nbsp;&nbsp;<img src="/assets/images/icon_blog.png" alt="dev icon" align="center"></a></li>
	</nav>
</div>